.Navbar {
  position: fixed;
  // border-radius: 0.7rem;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 5;
  // background: linear-gradient(to bottom, #248dd2 0%, #d4d4d4 0%, #248dd2 100%);
  background-color: #6cabd7;
  // background-color: $color-gray-light;
  // background-image: url("../../files/backGround.jpg");
  // background-size: cover;
  // background-position: bottom;

  margin: 0 auto;
  &__primary {
    max-width: $grid-width;

    margin: 0 auto;
    padding: 0.4rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.3px solid $color-gray-light-3;
    border-radius: 0.3rem;
    // a {
    //
    // }
    &--logo {
      position: relative;
      box-sizing: content-box;
      &::after {
        // opacity: 0
        content: "";
        position: absolute;
        top: -1.2rem;
        left: -1.2rem;
        width: 100%;
        height: 100%;
        border: 1.2rem solid #6cabd7;
        border-radius: 50%;
      }
      font-size: $logo-size;
      // color: $color-grey-dark;
      color: $color-gray-light;
      cursor: pointer;
      &:hover {
        color: $color-grey-dark-2;
      }
    }
    &--div {
      display: flex;
      align-items: center;
      & i {
        margin-left: 1rem;
        // color: $color-grey-dark;
        color: $color-gray-light;
        font-size: $default-font-site;
        cursor: pointer;
        &:hover {
          color: $color-grey-dark-2;
        }
      }
    }
  }
  #loggedIn {
    min-width: 42rem;
    max-width: 67rem;
    // background-color: chartreuse;
  }
  &__secondary {
    // transform: translateX(-2.8vw);
    min-width: 57rem;
    max-width: 85rem;
    height: 2.5rem;
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-around;
    // font-weight: 400;

    // word-spacing: 1rem;

    .add-product {
      min-width: 13rem;
      // background-color: burlywood;
    }

    &--tag {
      // background-color: chartreuse;
      letter-spacing: 0.2rem;
      // min-width: 13rem;
      // margin: 0 1rem;
      text-decoration: none;
      color: $color-white;
      font-weight: 600;
      &:hover {
        color: rgba($color-grey-dark, 0.8);
        // background-color: $color-gray-light-2;
      }
    }
  }
}
