.Popular {
  width: $grid-width;
  margin: 0 2rem;
  // border: 3px solid green;
  // margin: 0 auto;
  // padding: 1.5em;
  // max-width: $grid-width-2;
  &__list {
    z-index: 5;
    div {
      width: 24%;
      margin: 0 1% 1% 0;
      display: inline-block;
      // min-width: 100%;
      @media (max-width: 930px) {
        width: 32%;
      }
      @media (max-width: 776px) {
        width: 49%;
      }
      @media (max-width: 485px) {
        width: 97%;
      }
    }
    margin: 0 auto;
    transform: translateY(1rem);
    z-index: 4;
    min-height: $min-height-of-view;
    padding-bottom: $footer-margin-top;
  }
}
