.CardDetails {
  // border: 2px solid lightblue;
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 92rem;
  border-radius: $border-radius-primary;
  // margin: 3rem auto;
  display: flex;
  height: 67rem;
  // background-color: $color-gray-light-2;
  background: $details-gradient;
  box-shadow: 0px 0px 22px 2px rgba(0, 0, 0, 0.66);
  &__images {
    // border: 2px solid lightblue;
    height: 100%;
    padding: 1.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    &--main {
      // border: 2px solid red;
      border: 0.3px solid $color-grey-dark;
      border-radius: 0.5rem;
      background-color: $color-white;
      align-self: center;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 70%;
        max-height: 70%;
      }
    }
    &--list {
      margin-top: 2rem;
      transform: translateY(-1rem);
      // border: 2px solid purple;
      display: grid;
      grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
      gap: 0.5%;
      img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: $color-white;
      }
    }
  }
  &__text {
    // border: 3px solid yellow;
    height: 100%;
    position: relative;
    width: 50%;
    letter-spacing: 0.1rem;
    font-size: $default-font-site;
    font-weight: 100;
    color: $color-black-lighter;
    display: flex;
    flex-direction: column;

    // justify-content: center;
    align-items: center;
    &--specs {
      // height: 100%;
      width: 100%;
      h3 {
        margin-left: 1.3rem;
        cursor: pointer;
      }
      border-left: 3px groove $color-white;
      // background-color: $color-gray-light;
      border-radius: 0.3rem;
      margin: 5rem 0 3rem 0;
      width: 70%;
      & > p::before {
        content: "";
        margin: 0 0.5rem 0 1rem;
      }
    }
    &--desc {
      padding: 2rem;
      border: 0.3px solid $color-grey-dark;
      background-color: $color-white;
      border-radius: 0.5rem;
      width: 70%;
      height: 22rem;
      position: absolute;
      bottom: 9.5rem;
      word-wrap: break-word;
      overflow: scroll;
      p {
        width: 100%;
      }
    }
    &--btn {
      position: absolute;
      bottom: 2rem;
      margin-bottom: 1.5rem;
      justify-self: center;
      max-width: 100%;
      // display: grid;
      // grid-template-columns: 30%, 30%, 30%;
      button {
        // max-width: 30%;
        max-width: 10em;
        text-transform: uppercase;
        background-color: $color-gray-light-2;
        border: 1px solid #c8bfc4;
        box-shadow: inset 1px 1px 2px #ddd8dc;
        outline: none;
        border-radius: 10rem;
        height: 3.5rem;
        padding: 0 2rem;
        color: $color-grey-dark;
        letter-spacing: 0.3rem;
        cursor: pointer;
        &:nth-child(2) {
          margin: 0 1rem 0 1rem;
        }
        &:hover {
          letter-spacing: 0.3rem;
          font-weight: 600;
        }
      }
    }
  }
}
