.Card {
  min-width: 100%;

  // max-height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 1rem auto;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden;
  background-color: rgba($color-gray-light, $alpha: 0.7);
  letter-spacing: 0.1rem;
  font-size: $default-font-site;
  font-weight: 100;
  color: $color-black-lighter;
  &__img {
    // border: 2px groove $color-white;
    max-height: 45rem;
    padding: 0.5rem;
    min-height: 60%;
    width: 100%;
    display: block;
    background-size: cover;
    border-radius: 1rem;
    background-color: rgba($color-gray-light, $alpha: 0.7);

    overflow: hidden;
    cursor: pointer;
  }
  &__heading {
    padding: 1rem;
    min-width: 100%;
    .h4__tag {
      cursor: pointer;
      position: relative;
      &:hover {
        &::before {
          font-size: 1rem;
          padding: 0.2rem;
          z-index: 100;
          position: absolute;
          left: 5.5rem;
          bottom: -0.7rem;
          content: "Open details about this seller";
          display: flex;
          text-align: center;
          display: block;
          margin: 0 auto;
          padding: auto;
          background-color: rgba($color: $color-white, $alpha: 0.8);
          border-radius: 1rem;
          height: 5rem;
          width: 7rem;
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
}
