.Chat {
  z-index: 100000000000;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  width: 35rem;
  height: 44rem;
  position: fixed;
  right: 5rem;
  bottom: 0;
  background-color: $color-gray-light;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0.3px rgba(0, 0, 0, 0.548);
  color: $color-grey-dark;
  letter-spacing: 0.3rem;
  &__nav {
    height: 10%;
    // background-color: $color-grey-dark;
    // background-color: $color-gray-light-2;
    background: $details-gradient;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h3:hover {
      // color: rgb(255, 177, 74);
      color: black;
      cursor: pointer;
    }
    &--logo {
      position: absolute;
      top: 2rem;
      left: 6%;
      font-size: 5rem;
      border: 2px solid $color-grey-dark;
      border-radius: 1rem;
    }
    &--icons {
      position: absolute;
      right: 6%;
      font-size: 1.5rem;
      i {
        padding: 0 0.3rem;
        cursor: pointer;
        &:first-child:hover {
          color: rgb(255, 177, 74);
          font-size: 1.8rem;
        }
        &:last-child:hover {
          color: red;
          font-size: 1.8rem;
        }
      }
      // border: 1px solid red;
    }
  }
  &__header {
    // border: 2px solid green;
    letter-spacing: 0.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    &--chater {
      position: absolute;
      bottom: 1.4rem;
      left: 25%;
      h3 {
        text-transform: capitalize;
      }
    }
  }
  &__body {
    margin: 0 auto;
    width: 90%;
    height: 60%;
    position: relative;
    border-radius: 1rem;
    // background-color: $color-gray-light-2;
    background: $details-gradient-2;

    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    & > div:last-child {
      scroll-snap-align: end;
    }
    &--first {
      transform: translateX(10%);

      background-color: $color-gray-light;
      // background-color: greenyellow;
      width: 90%;
      display: flex;
      // align-items: center;
      flex-direction: column;
      padding: 0.8rem 1.3rem;
      border-radius: 1rem;
      margin-bottom: 0.3rem;
      nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        opacity: 0.6;
        margin-bottom: 0.5rem;
      }
    }
    &--second {
      // background-color: rgb(255, 82, 82);
      background-color: $color-grey-dark;
      color: white;
      width: 90%;
      // height: 30%;
      display: flex;
      // align-items: center;
      flex-direction: column;
      padding: 0.8rem 1.3rem;
      border-radius: 1rem;
      margin-bottom: 0.3rem;
      nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        opacity: 0.6;
        margin-bottom: 0.5rem;
      }
    }
  }
  &__footer {
    margin: 0 auto;
    width: 98%;
    height: 17%;
    // background-color: greenyellow;
    position: relative;
    textarea {
      position: absolute;
      left: 5%;
      top: 7%;
      width: 90%;
      height: 92%;
      border-radius: 1rem;
      padding: 0.3rem 1rem;
      outline: none;
      color: $color-grey-dark;
      border-color: $color-grey-dark;
    }
    button {
      position: absolute;
      right: 6%;
      bottom: 7%;

      text-transform: uppercase;
      background-color: $color-gray-light-2;
      border: 1px solid #c8bfc4;
      box-shadow: inset 1px 1px 2px #ddd8dc;
      outline: none;
      border-radius: 10rem;
      height: 2rem;
      padding: 0 1.7rem;
      color: $color-grey-dark;
      letter-spacing: 0.3rem;
      cursor: pointer;
      &:hover {
        letter-spacing: 0.2rem;
        font-weight: 900;
        // transform: translate(-1px, -1px);
      }
    }
  }
}
.Chat-hide {
  z-index: 100000000000;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  width: 35rem;
  height: 5rem;
  position: fixed;
  right: 5rem;
  bottom: 0;
  background-color: $color-gray-light;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0.3px rgba(0, 0, 0, 0.548);
  color: $color-grey-dark;
  letter-spacing: 0.3rem;
  &__nav {
    height: 100%;
    // background-color: $color-grey-dark;
    // background-color: $color-gray-light-2;
    background: $details-gradient;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h3:hover {
      // color: rgb(131, 218, 0);
      color: black;
      cursor: pointer;
    }
    &--logo {
      position: absolute;
      top: 1rem;
      left: 6%;
      font-size: 3rem;
      border: 2px solid $color-grey-dark;
      border-radius: 1rem;
    }
    &--icons {
      position: absolute;
      right: 6%;
      font-size: 1.5rem;
      i {
        padding: 0 0.3rem;
        cursor: pointer;
        &:first-child:hover {
          color: rgb(131, 218, 0);
          font-size: 1.8rem;
        }
        &:last-child:hover {
          color: red;
          font-size: 1.8rem;
        }
      }
      // border: 1px solid red;
    }
  }
}
