.SortFilter {
  &__Category {
    position: relative;
    display: flex;
    // margin-left: 1rem;
    min-height: 2rem;
    overflow: visible;
    // z-index: 0;
    // justify-content: center;
    // align-items: center;
    // border: 1px solid green;

    &--icon {
      padding-top: 0.3rem;
      font-size: 1.4rem;
      color: $color-gray-light;
      // color: $color-grey-dark;
    }
    select {
      .options {
        // border: 1px solid green;
        font-size: 1.6rem;
        // background-color: $details-gradient-2;
        color: rgba($color-grey-dark, 0.7);
        // background-color: $color-grey-dark;
        background-color: $color-gray-light;
      }
      font-size: 1.4rem;
      height: 2rem;
      transform: translateY(-0.2rem);
      text-transform: capitalize;
      // max-width: clamp(4rem, 8rem, 12rem);
      // max-width: clamp(4rem, 30%, 12rem);
      // width: min-content;
      // width: fit-content;
      max-width: 8rem;
      display: inline-block;
      outline: none;
      color: #74646e;
      // border: 1px solid green;
      border: none;
      // border-radius: 3rem;
      // box-shadow: inset 1px 1px 2px #ddd8dc;
      // background-color: transparent;
      background-color: transparent;
      margin: 0;
      // overflow: show;
      text-overflow: ellipsis;
      white-space: nowrap;
      letter-spacing: 0.1rem;
      font-weight: 400;
      // color: $color-grey-dark;
      color: $color-gray-light;
      // display: inline-block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      &::-ms-expand {
        /* For IE10 */
        display: none;
      }
      &:hover {
        // color: $color-gray-light;
        color: rgba($color-grey-dark, 0.8);
      }
    }
  }
}
